*{margin: 0; padding: 0;}

body{font: 18px/ 1.4 arial, sans-serif;}
hgroup > h1{
	font-size: 36px;
	margin: 12px 0 12px 0;
}
hgroup a {color: #900; text-decoration: none;}
h1 ~ h2{
	font-size: 27px;
	margin: 14px 0 14px 0;
	color: #090;
}

nav > ul{margin-left: 50px;}
nav{           
		 width: 580px;
        height: 80px;
        line-height: 80px;
        margin: 0 auto;
}

nav > ul > li{
        display: inline-block;
        line-height: 4.5em;
        text-align:center;
}

        nav ul li a {
            -moz-transition: background-color .25s ease-in-out;
            -webkit-transition: background-color .25s ease-in-out;
            -ms-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
            font-weight: 800;
            letter-spacing: 0.025em;
            color: #696969;
            text-decoration: none;
            border-radius: 5px;
            padding: 0.5em 1em 0.5em 1em;
            text-align:center;
            }

body > h1, h2 {
	text-align: center;
}
body {
  height: 100%;
  width: 100%;
}
body {
  text-align: left;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}